<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/application-${date:dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    
    <!-- Logger -->
    <Loggers>
        <!-- Console Logger for 'local' profile -->
        <Root level="info" profiles="local">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- File Logger for 'dev' profile -->
        <Root level="info" profiles="dev">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>
