<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE">

    <!-- Define Appenders -->
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- File Appender -->
        <File name="File" fileName="logs/application-${date:dd-MM-yyyy}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <!-- SEQ Appender for structured logging in SEQ -->
        <Http name="SEQ" url="${env:SEQ_URL:-http://localhost:5341/api/events/raw}">
            <JsonLayout compact="true" eventEol="true" />
        </Http>
    </Appenders>

    <!-- Define Loggers for Different Environments -->
    <Loggers>
        <!-- Local Logger -->
        <Root level="debug" includeLocation="true" profiles="local">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SEQ"/> <!-- Send logs to SEQ for local/dev -->
        </Root>
        

        <!-- Dev Logger -->
        <Root level="debug" includeLocation="true" profiles="dev">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/> <!-- Logs to console and file in test -->
        </Root>

        <!-- Test Logger -->
        <Root level="debug" includeLocation="true" profiles="test">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/> <!-- Logs to console and file in test -->
        </Root>

        <!-- Preprod Logger -->
        <Root level="info" profiles="preprod">
            <AppenderRef ref="File"/> <!-- Only log to a file in preprod -->
        </Root>

        <!-- Prod Logger -->
        <Root level="warn" profiles="prod">
            <AppenderRef ref="File"/> <!-- Logs only to file with reduced verbosity -->
            <AppenderRef ref="SEQ"/> <!-- Optional: Send logs to SEQ for analysis -->
        </Root>

    </Loggers>

</Configuration>
